<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rooms
        link(rel="stylesheet", href="../assets/css/room.css")
    body
        section
            svg
                filter(id='gooey')
                    feGaussianBlur(in="SourceGraphic" stdDeviation="10")
                    feColorMatrix(values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 20 -10")
            
            div(class="loader")
                span(style="--i:1;")
                span(style="--i:2;")
                span(style="--i:3;")
                span(style="--i:4;")
                span(style="--i:5;")
                span(style="--i:6;")
                span(style="--i:7;")
                span(style="--i:1;")
                span(class="rotate" style="--j:0;")
                span(class="rotate" style="--j:1;")
                span(class="rotate" style="--j:2;")
                span(class="rotate" style="--j:3;")
                span(class="rotate" style="--j:4;")

        header ChatRoom ##{id} - Andres Cardenas
        div(class="container")
            div(class="contenedor")
                div(class="chat")

                    

                div(class="redactar")
                    div(class="texto" contenteditable="true")
                    button Enviar
            
            div(class="barra-lateral")
                div(class="titulo") Lista de conectados
                div(class="lista-contactos")
                    ul
                        //- li(title="Andres Cardenas") Andres Cardenas
                        //- li(title="Carlos Asprilla") Carlos Asprilla
                        //- li(title="Carla Gonzales") Carla Gonzales

                div(class="propiedad") &copy; Andres Cardenas

    script(src="/socket.io/socket.io.js")
    script(src="../assets/js/room.js")
